---

---

<div class="grid grid-cols-3 gap-6 items-center ">
      <div class='space-y-4'>
            <img></img>
            <div class="">Title</div>
            <div class="">p</div>
      </div>
      <div class='space-y-4'>
            <img></img>
            <div class="">Title</div>
            <div class="">p</div>
      </div>
      <div class='space-y-4'>
            <img></img>
            <div class="">Title</div>
            <div class="">p</div>
      </div>
</div>

<style>

      @reference "@/styles/global.css";

      .projectGoal {
            @apply grid grid-cols-3 gap-6;
      }

      .projectGoal img {
            @apply h-60 w-full object-cover;
      }

</style>