---
import Layout from '@/layouts/Layout.astro';
import Intro from '@/components/layout/Intro.astro';
// import Square from '@/components/grids/Square.astro';
import About from '@/components/layout/About.astro';

---

<Layout
  title="Homepage"
  description="Ying-Shiuan Chen loves creating functional yet fun interactions to humanize technology!"
  image="/images/og-home.png"
  keywords="Ying-Shiuan Chen, software engineer, product designer, developer, interaction">

  <div class="my-[12rem]">
    <Intro />
  </div>
  <div class="text-center">
<h3>Currently the website is upgrading...</h3>
    <h3>In the meantime, you can view the <a href="https://yingshiuan.github.io/yshiuanc/" class="underline">previous website</a>!</h3>
  </div>
   
  <!-- <Square /> -->
  <div class="my-[12rem]"><About /></div>
</Layout>
