---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{
  tags.length > 0 && (
    <ul class="tags_container">
      {tags.map((t) => (
        <li class="tags">{t}</li>
      ))}
    </ul>
  )
}

<style>
  @reference "@/styles/global.css";
  .tags_container {
    @apply flex justify-end gap-2 m-[0.25rem] flex-wrap;
  }
  .tags {
    @apply text-sm border-[1.5px] border-[var(--color-text-primary)] rounded-[0.5rem] p-[0.2rem];
  }

  .tags:hover {
    @apply border-[var(--color-caption-primary)] bg-[var(--color-text-hover)] text-[var(--color-border)] shadow-[0.1rem_0.1rem_var(--color-caption-secondary)] transition duration-300;
  }

  @media (min-width: 900px) {
    .tags_container {
      @apply mx-auto;
    }
  }
</style>
